.comment-text-area {
color: black;
margin: 20px;
}

.submit-button {
  /* border: 2px solid red; */
  max-height: 40px;
}

.error-msg {
  color: red;
}

.comment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;

}

.comment-label {
  font-size: 30px;
}

.comment-div {
  font-size: 28px;
  margin: 20px;
}
