/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  /* text-size-adjust: 100px; */
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}
/*
h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
} */

button {
  background: linear-gradient(to bottom right, rgb(126, 122, 122), #fcf9ed);
  margin: 8px;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(108, 108, 108, 0.5),
    -0.125rem -0.125rem 1rem black 0.125rem 0.125rem 1rem #fcf9ed;
}

button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem black, .125rem .125rem 1rem rgb(255, 47, 47);
  color: rgb(255, 47, 47)
}
