/* .img{
  width: 20px;
  height: 20px;
} */

.navBar-div {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}



.profile-dropdown{
  background-color: silver;
  position: relative;
}
.profile-text {
  background-color: rgb(209, 203, 203);

}



/* .dropdown-menu.show {
  position: absolute;
  left: -60px;
}

.navbar-nav {
  position: absolute;
  left: 85%;
 } */
